@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgb(185, 122, 216);
}

main{
    background-color: blue;
    display: block;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

section{
    background-color: rgb(54, 48, 48);
    display: block;
    margin: auto;
    width: 250px;
    height: 500px;
    
}


