@charset "UTF-8";

body{
    background-color: darkkhaki;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;

}

h1{
    color: black;
}

h2{
    color: rgb(32, 44, 77);
}

h1#principal{
    color: rgb(1, 1, 36);
    text-align: center;
}